@font-face {
  font-family: Ubuntu-Light;
  src: url(../fonts/Ubuntu-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url(../fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
  font-family: Ubuntu-Regular;
}

.wrapper {
  min-height: 100vh;
  font-size: variables.$base-font-size;
}

img {
  max-width: 100%;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

.btn {
  background-color: variables.$color-gold;
  color: variables.$color-white;
  font-family: Ubuntu-Medium;
  border-radius: variables.$base-border-radius;
  padding: 1em 5.4em;
  transition: variables.$base-transition;

  &:hover {
    background-color: variables.$color-brown;
  }
}
