@font-face {
  font-family: Ubuntu-Light;
  src: url(../fonts/Ubuntu-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url(../fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
  font-family: Ubuntu-Regular;
}

.wrapper {
  min-height: 100vh;
  font-size: variables.$base-font-size;
}

img {
  max-width: 100%;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

input {
  font-size: clamp(0.75rem, 0.4859rem + 1.1268vw, 1.5rem);
}

h1 {
  font-size: clamp(2.5rem, 1.6197rem + 3.7559vw, 5rem);
  text-transform: uppercase;
  font-weight: 400;
  margin-block-end: 1rem;
  padding-inline: 1rem;
}

h2 {
  color: variables.$color-brown;
  font-size: clamp(1.40625rem, 0.9111rem + 2.1127vw, 2.8125rem);
  font-family: Ubuntu-Medium;
}

h3 {
  font-family: Ubuntu-Medium;
  color: variables.$color-white;
  font-size: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem);
}

ul {
  list-style: none;
}

.btn {
  background-color: variables.$color-gold;
  color: variables.$color-white;
  font-family: Ubuntu-Medium;
  border-radius: variables.$base-border-radius;
  padding: 1em 5.4em;
  transition: variables.$base-transition;
  border: none;

  &:hover {
    background-color: variables.$color-brown;
  }
}
