@font-face {
  font-family: Ubuntu-Light;
  src: url(../fonts/Ubuntu-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Ubuntu-Medium;
  src: url(../fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
  font-family: Ubuntu-Regular;
}

.wrapper {
  min-height: 100vh;
  font-size: clamp(0.75rem, 0.4859rem + 1.1268vw, 1.5rem);
}

img {
  max-width: 100%;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: clamp(2.5rem, 1.6197rem + 3.7559vw, 5rem);
  text-transform: uppercase;
  font-weight: 400;
  margin-block-end: 1rem;
}

h2 {
  color: #957554;
  font-size: clamp(1.40625rem, 0.9111rem + 2.1127vw, 2.8125rem);
  font-family: Ubuntu-Medium;
}

h3 {
  font-family: Ubuntu-Medium;
  color: #ffffff;
  font-size: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem);
}

.btn {
  background-color: #dfaa5b;
  color: #ffffff;
  font-family: Ubuntu-Medium;
  border-radius: 10px;
  padding: 1em 5.4em;
  transition: 0.5s;
}
.btn:hover {
  background-color: #957554;
}

header {
  display: flex;
  flex-direction: column;
  gap: 4.75rem;
  align-items: center;
  padding-block: 3.2rem 6.3rem;
  text-align: center;
}
header img {
  max-width: 9.375rem;
}
header nav {
  display: flex;
  gap: 3.5vw;
}
header nav a {
  color: #957554;
  font-family: Ubuntu-Medium;
}
header nav svg {
  width: 16px;
  fill: #dfaa5b;
}

.section-hero {
  text-align: center;
  background: url(../images/hero_image.png) no-repeat center;
  background-size: cover;
  color: #ffffff;
  padding-block: 20rem 7.5rem;
  margin-block-end: 4rem;
}
.section-hero p {
  margin-block-end: 4rem;
  font-family: Ubuntu-Medium;
}

.section-facilities {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-inline: 10%;
  margin-block-end: 6rem;
}
.section-facilities .facilities-items {
  display: flex;
  justify-content: center;
  gap: 6em;
  flex-wrap: wrap;
}
.section-facilities .facilities-items img {
  width: 60px;
  margin-block-end: 1rem;
}
.section-facilities .facilities-items p {
  font-family: Ubuntu-Light;
  color: #957554;
}

@media only screen and (max-width: 768px) {
  .section-facilities .facilities-items {
    gap: 4rem;
  }
}
@media only screen and (max-width: 576px) {
  .section-facilities .facilities-items {
    column-gap: 5rem;
    row-gap: 2rem;
  }
}
.section-rooms {
  text-align: center;
  margin-block-end: 6rem;
}
.section-rooms h2 {
  margin-block-end: 2rem;
}
.section-rooms .rooms-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding-inline: 5%;
}
.section-rooms .rooms-grid article {
  border-radius: 10px;
  padding-block: 18.8rem 5rem;
}
.section-rooms .rooms-grid article h3 {
  margin-block-end: 3rem;
}
.section-rooms .rooms-grid article a {
  padding: 1em 2.5em;
}
.section-rooms .rooms-grid article:nth-of-type(1) {
  background: url(../images/standard_twin_room.png) no-repeat center;
  background-size: cover;
}
.section-rooms .rooms-grid article:nth-of-type(2) {
  background: url(../images/standard_room.png) no-repeat center;
  background-size: cover;
}
.section-rooms .rooms-grid article:nth-of-type(3) {
  background: url(../images/standard_view_room.png) no-repeat center;
  background-size: cover;
}
.section-rooms .rooms-grid article:nth-of-type(4) {
  background: url(../images/deluxe_room.png) no-repeat center;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .section-rooms .rooms-grid {
    grid-template-columns: 1fr;
  }
}
.section-book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-end: 6rem;
}
.section-book h2 {
  margin-block: 2rem;
}

/*# sourceMappingURL=styles.css.map */
