@use 'variables';
@import 'base';

header {
  display: flex;
  flex-direction: column;
  gap: 4.75rem;
  align-items: center;
  padding-block: 3.2rem 6.3rem;
  text-align: center;

  img {
    max-width: 9.375rem;
  }

  // ! Header

  nav {
    display: flex;
    gap: 3rem;
    gap: 3.5vw;

    a {
      color: variables.$color-brown;
      font-family: Ubuntu-Medium;
    }

    svg {
      width: 16px;
      fill: variables.$color-gold;
    }
  }
}

// ! Hero Section

.section-hero {
  text-align: center;
  background: url(../images/hero_image.png) no-repeat center;
  background-size: cover;
  color: variables.$color-white;
  padding-block: 20rem 7.5rem;
  margin-block-end: 1.5rem;

  p {
    margin-block-end: 4rem;
    font-family: Ubuntu-Medium;
  }
}

// ! Section Facilities

.section-facilities {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-inline: 10%;

  .facilities-items {
    display: flex;
    justify-content: center;
    gap: 6em;
    flex-wrap: wrap;

    img {
      width: 60px;
    }

    p {
      font-family: Ubuntu-Light;
      color: variables.$color-brown;
    }
  }
}

// .facilities-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
// }
