@use 'variables';
@import 'base';

header {
  display: flex;
  flex-direction: column;
  gap: 4.75rem;
  align-items: center;
  padding-block: 3.2rem 6.3rem;
  text-align: center;

  img {
    max-width: 9.375rem;
  }

  // ! Header

  nav {
    display: flex;
    gap: 3.5vw;

    a {
      color: variables.$color-brown;
      font-family: Ubuntu-Medium;
    }

    svg {
      width: 16px;
      fill: variables.$color-gold;
    }
  }
}

// ! Hero Section

.section-hero {
  text-align: center;
  background: url(../images/hero_image.png) no-repeat center;
  background-size: cover;
  color: variables.$color-white;
  padding-block: 20rem 7.5rem;
  margin-block-end: 4rem;

  p {
    margin-block-end: 4rem;
    font-family: Ubuntu-Medium;
  }
}

// ! Section Facilities

.section-facilities {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-inline: 10%;
  margin-block-end: 6rem;

  .facilities-items {
    display: flex;
    justify-content: center;
    gap: 6em;
    flex-wrap: wrap;

    img {
      width: 60px;
      margin-block-end: 1rem;
    }

    p {
      font-family: Ubuntu-Light;
      color: variables.$color-brown;
    }
  }
}

@media only screen and (max-width: 768px) {
  .section-facilities {
    .facilities-items {
      gap: 4rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  .section-facilities {
    .facilities-items {
      column-gap: 5rem;
      row-gap: 2rem;
    }
  }
}

// ! Section Rooms

.section-rooms {
  text-align: center;
  margin-block-end: 6rem;

  h2 {
    margin-block-end: 2rem;
  }

  .rooms-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-inline: 5%;

    article {
      border-radius: variables.$base-border-radius;
      padding-block: 18.8rem 5rem;

      h3 {
        margin-block-end: 3rem;
      }

      a {
        padding: 1em 2.5em;
      }
    }

    article:nth-of-type(1) {
      background: url(../images/standard_twin_room.png) no-repeat center;
      background-size: cover;
    }

    article:nth-of-type(2) {
      background: url(../images/standard_room.png) no-repeat center;
      background-size: cover;
    }

    article:nth-of-type(3) {
      background: url(../images/standard_view_room.png) no-repeat center;
      background-size: cover;
    }

    article:nth-of-type(4) {
      background: url(../images/deluxe_room.png) no-repeat center;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 768px) {
  .section-rooms {
    .rooms-grid {
      grid-template-columns: 1fr;
    }
  }
}

// ! Section Book

.section-book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-end: 6rem;

  h2 {
    margin-block: 2rem;
  }
}
