@use 'variables';
@import 'base';

header {
  display: flex;
  flex-direction: column;
  gap: 4.75rem;
  align-items: center;
  padding-block: 3.2rem 6.3rem;
  text-align: center;

  img {
    max-width: 9.375rem;
  }

  nav {
    display: flex;
    gap: 3rem;
    gap: 3.5vw;

    a {
      color: variables.$color-brown;
      font-family: Ubuntu-Medium;
    }

    svg {
      width: 16px;
      fill: variables.$color-gold;
    }
  }
}
