// ! Colors

$color-black: #111;
$color-brown: #957554;
$color-gold: #dfaa5b;
$color-white: #ffffff;

// ! Font-Sizes

$base-font-size: clamp(0.75rem, 0.4859rem + 1.1268vw, 1.5rem);

// ! Borders

$base-border-radius: 10px;

// ! Transitions

$base-transition: 0.5s;
